version = 2

[plugins."io.containerd.grpc.v1.cri"]
  sandbox_image = "{{ kubernetes_pause_image }}"

  [plugins."io.containerd.grpc.v1.cri".containerd.runtimes.runc]
    runtime_type = "io.containerd.runc.v2"

    [plugins."io.containerd.grpc.v1.cri".containerd.runtimes.runc.options]
      SystemdCgroup = true
