apiVersion: v1
kind: ConfigMap
metadata:
  name: db-configmap
data:
  MYSQL_ROOT_PASSWORD: 7KAVTF745s56yryN
  MYSQL_USER: fastapi
  MYSQL_DATABASE: crud
  MYSQL_PASSWORD: 7KAVTF745s56yryN
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: db-deployment
  labels:
    app: db
spec:
  replicas: 1
  selector:
    matchLabels:
      app: db
  template:
    metadata:
      labels:
        app: db
    spec:
      containers:
      - name: db
        image: mysql:5.7
        ports:
        - containerPort: 3306
        envFrom:
          - configMapRef:
              name: db-configmap
---
apiVersion: v1
kind: Service
metadata:
  name: db-svc
spec:
  type: ClusterIP
  ports:
    - port: 3306
  selector:
    app: db