[defaults]
inventory = ./inventory.ini
interpreter_python = auto_silent
stdout_callback = ansible.builtin.default
result_format = yaml
forks = 20
host_key_checking = True
force_valid_group_names = never
retry_files_enabled = False

[ssh_connection]
pipelining = True
